.icon {
	appearance: none;
	background-color: transparent;
	border: none;
	color: inherit;
	cursor: pointer;
	display: flex;
	padding: 0;
	transition: all 0.25s;
}

.icon:focus,
.icon:hover {
	opacity: 0.8;
	transform: rotate(-360deg);
}

.icon:active {
	transform: scale(0.9);
}

.icon-bar {
	display: flex;
	gap: 20px;
}

@media screen and (max-width: 768px) {
	.icon-bar {
		gap: 30px;
	}
}
